#body {
  margin: 0px;
  padding: 20px;
  background-image: linear-gradient(
    to top right,
    rgb(245, 191, 91),
    rgb(107, 228, 157)
  );
}
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#story {
  width: 60vw;
  background-image: linear-gradient(to top right, linen 90%, rgb(143, 87, 24));
  padding: 15px 20px 10px 20px;
  box-shadow: 10px 5px 5px rgb(160, 133, 83);
  border-top-right-radius: 5%;
}

#active {
  width: 30vw;
  text-align: center;
}
#likes {
  border-radius: 50%;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
textarea {
  background-image: linear-gradient(
    to top right,
    rgb(245, 191, 91),
    rgb(202, 238, 217)
  );
  padding: 10px;
  width: 100%;
}
.footer{
  opacity: 0;
}
.footer:hover{
  opacity: 1;
}
.btn{
  margin-right: 1rem;
}
@media (max-width: 760px) {
  #body {
    margin: 0px;
    padding: 10px;
  }
  #story {
    width: 100vw;
  }
  #active {
    margin-top: 10px;
    width: 100vw;
    text-align: center;
  }
}
